<h3>Edit Account</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div>
    <%= f.label :email, "Email <span class='red'>*</span>".html_safe %>
    <%= f.email_field :email, :autofocus => true, required: 'required' %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div>
    <%= f.label :current_password, "Current Password <span class='red'>*</span>".html_safe %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, required: 'required' %>
  </div>
  <div>
    <%= f.label :password, "New Password <span class='red'>*</span>".html_safe %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, :autocomplete => "off", required: 'required' %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm New Password <span class='red'>*</span>".html_safe %>
    <%= f.password_field :password_confirmation, required: 'required' %>
  </div>
  <div>
    <%= f.submit "Update", :class=>'btn btn-primary' %>
  </div>
<% end %>
<%= link_to "Back", :back %>