<h3>Edit Account<%#= resource_name.to_s.humanize %></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Email <span class='red'>*</span>".html_safe %>
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password, "Password <span class='red'>*</span>".html_safe %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Password confirmation <span class='red'>*</span>".html_safe %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Current password <span class='red'>*</span>".html_safe %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", :class=>'btn btn-primary' %></div>
<% end %>

<%= link_to "Back", :back %>

<% content_for :javascript do %>
<script>
$(document).ready(function() {
 var validator = $( "#edit_cao" ).validate();
 console.log(validator);
});
</script>
<% end %>
