<div class="container-fluid">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "form-horizontal",  id: "edit-personal-info", method: :put }) do |f| %>
    <legend><h3><%= "Personal Information" %></h3></legend>
    <div class="row-fluid personal-info-form" style="padding:20px 0px 0px 0px;">
      <div class="span9">

        <% if resource.errors.any? && @password.eql?(false) %>
          <div class="row-fluid">
            <div class="span12 bgcolor">
              <div class="alert alert-error">
                <%= devise_error_messages! %>
              </div>
            </div>
          </div>
        <%- end -%>

        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :first_name, "First Name <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :first_name, :autofocus => true, required: 'required', class: "form-control" %>
              </div>
            </div>
          </div><!--/span-->

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :last_name, "Last Name <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :last_name, class: "form-control", required: "required", placeholder: "Last Name" %>
              </div>
            </div>
          </div><!--/span-->

        </div><!--/row-->

        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :email, "Email <span class='red'>*</span>".html_safe, class: "control-label"  %>
              <div class="controls">
                <%= f.email_field :email, :autofocus => true, required: 'required', class: "form-control" %>
              </div>
            </div>
          </div><!--/span-->

        </div><!--/row-->

        <div class="row-fluid">

          <div class="form-group" style="text-align: right;margin-right:10px">
            <div class="col-sm-10">
              <%= f.submit "Update", :class=>'btn btn-primary' %>
              <%= link_to "Cancel", :back, class: "btn btn-primary" %>
            </div>
          </div>
        </div><!--/row-->


      </div>
      <div class="span4">
      </div><!--/span-->
    </div>
  <%- end -%>


  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "form-horizontal", id: "edit-change-password", method: :put }) do |f| %>
    <legend><h3><%= "Change Password" %></h3></legend>
    <div class="row-fluid change-password-form" style="padding:20px 0px 0px 0px;">
      <div class="span9">

        <% if resource.errors.any? && @password.eql?(true) %>
          <div class="row-fluid">
            <div class="span12 bgcolor">
              <div class="alert alert-error">
                <%= devise_error_messages! %>
              </div>
            </div>
          </div>
        <%- end -%>

        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :current_password, "Current Password <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.password_field :current_password, required: 'required', class: "form-control" %>
                <!--span style="padding-left:200px"><i>(we need your current password to confirm your changes)</i></span-->
              </div>
            </div>
          </div><!--/span-->

        </div><!--/row-->

        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :password, "New Password <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.password_field :password, required: 'required', class: "form-control" %>
              </div>
            </div>
          </div><!--/span-->

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :password_confirmation, "Confirm New Password <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.password_field :password_confirmation, required: 'required', class: "form-control" %>
              </div>
            </div>
          </div><!--/span-->

        </div><!--/row-->

        <div class="row-fluid">

          <div class="form-group" style="text-align: right;margin-right:10px">
            <div class="col-sm-10">
              <%= f.submit "Update", :class=>'btn btn-primary' %>
              <%= link_to "Cancel", :back, class: "btn btn-primary" %>
            </div>
          </div>
        </div><!--/row-->

      </div>
      <div class="span4">
      </div><!--/span-->
    </div>
  <%- end -%>
</div>
