<%= semantic_form_for [:admin, @identity_service], :url => admin_identity_service_path_for_form(@identity_service) do |f| %>
  <%= f.inputs "Identity Service Info" do %>
    <%= f.input :ois_name, :label => "Identity Service Name" %>
    <li id="ois_ois_password_input" class="required generated_password">
      <label class="label" for="ois_ois_password">
         Identity Service password<abbr title="required">*</abbr>
      </label>
      <%= f.password_field :ois_password, :maxlength => 80, :value => f.object.ois_password %>
      <input class="generate_password_button" type="button" value="Generate new password" data-update="#ois_ois_password">
      <a href="#" class="show_password" data-show="#ois_ois_password">Show Password</a>
      <%= f.semantic_errors :ois_password %>
    </li>
    <%= f.input :ip_address_concat %>
    <%= f.input :outgoing_service_id, :label => "Outgoing service id", :required => true %>
    <%= f.input :outgoing_service_password, :as => :string %>
    <%= f.input :enrollment_url %>
    <%= f.input :authentication_url %>
    <%= f.input :organization %>
    <%= f.input :disabled %>
    <%= f.input :idp_level %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => "Save" %>
  <% end %>
<% end %>
