<div class="modal fade" id="update-password-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <p>
          <div class="container-fluid">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "form-horizontal", id: "edit-change-password", method: :put }) do |f| %>
              <%= hidden_field_tag :redirect_from, "popup" %>          
              <div class="row-fluid change-password-form" style="padding:20px 0px 0px 0px;">
                <div class="span9">
                  <%- if flash[:notice] -%>
                    <div class="row-fluid">
                      <div class="span12 bgcolor">
                        <div class="alert alert-error" id="devise-error-message-pwd", style="width: 440px;">
                          <%= flash[:notice] %>
                        </div>
                      </div>
                    </div>
                  <%- end -%>
                  <div class="row-fluid">
                    <div class="span6 bgcolor">
                      <div class="control-group">
                        <%= f.label :current_password, "Current Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                        <div class="controls popup-errors">
                          <%= f.password_field :current_password, required: 'required', class: "form-control" %>
                        </div>
                      </div>
                    </div><!--/span-->
                  </div><!--/row-->
                  <div class="row-fluid">
                    <div class="span6 bgcolor">
                      <div class="control-group">
                        <%= f.label :password, "New Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                        <div class="controls popup-errors">
                          <%= f.password_field :password, required: 'required', class: "form-control" %>
                        </div>
                      </div>
                    </div><!--/span-->
                  </div><!--/row-->
                  <div class="row-fluid">
                    <div class="span6 bgcolor">
                      <div class="control-group">
                        <%= f.label :password_confirmation, "Confirm New Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                        <div class="controls popup-errors">
                          <%= f.password_field :password_confirmation, required: 'required', class: "form-control" %>
                        </div>
                      </div>
                    </div><!--/span-->
                  </div><!--/row-->
                  <div class="row-fluid">
                    <div class="span6 bgcolor">
                      <div class="control-group">
                        <%= label_tag "Security Question", "Security Question <span class='red'>*</span>".html_safe, class: "control-label" %>
                        <div class="controls popup-errors">
                          <%= select_tag 'cao[security_question]', options_for_select(SECURITY_QUESTIONS, f.object.security_question), { prompt: "Select Security Question", required: true } %>
                        </div>
                      </div>
                    </div><!--/span-->
                  </div><!--/row-->
                  <div class="row-fluid">
                    <div class="span6 bgcolor">
                      <div class="control-group">
                        <%= label_tag "Security Answer", "Security Answer <span class='red'>*</span>".html_safe, class: "control-label" %>
                        <div class="controls popup-errors">
                          <%= f.text_field :security_answer, required: true, class: "form-control" %>
                        </div>
                      </div>
                    </div><!--/span-->
                  </div><!--/row-->
                </div>
                <div class="span4">
                </div><!--/span-->
              </div>            
          </div>
        </p>
      </div>
      <div class="modal-footer">
        <div class="row-fluid">
          <div class="form-group" style="text-align: right;margin-right:10px">
            <div class="col-sm-10">
              <%= f.submit "Update", :class=>'btn btn-primary' %>
            </div>
          </div>
        </div><!--/row-->
      <%- end -%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->