<%= semantic_form_for [:admin, @application], :url => admin_application_path_for_form(@application) do |f| %>
  <%= f.inputs "Application Info" do %>
    <%= f.input :client_name %>
    <li id="ois_client_client_password_input" class="required generated_password">
      <label class="label" for="ois_client_client_password">
        Client password<abbr title="required">*</abbr>
      </label>
      <%= f.password_field :client_password, :maxlength => 80, :value => f.object.client_password %>
      <input class="generate_password_button" type="button" value="Generate new password" data-update="#ois_client_client_password">
      <a href="#" class="show_password" data-show="#ois_client_client_password">Show Password</a>
    </li>
    <%= f.input :ip_address_concat %>
    <%= f.input :ois_client_preference, :label => "Preferences" %>
    <%= f.input :disabled %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => "Save" %>
  <% end %>
<% end %>
