<div class="container-fluid">
  <%= form_for([:admin, organization, coa], html: { class: 'form-horizontal organization-form', id: id, autocomplete: 'off'}) do |f| %>
    <legend><h3><%= text %></h3></legend>
    <div class="row-fluid" style="padding:20px 0px 0px 90px;">
      <div class="span9">
        <!--div class="row-fluid">
        <div class="span12 bgcolor">
          <div class="alert alert-error">
            <a href="#" class="close" data-dismiss="alert">×</a>
            Error Messages.
          </div>
        </div>
        </div-->
        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= label_tag "First Name", "First Name <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :first_name, autofocus: true, required: "required", placeholder: "First Name"  %>
              </div>
            </div>
          </div><!--/span-->

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= label_tag "Last Name", "Last Name <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :last_name, class: "form-control", required: "required", placeholder: "Last Name" %>
              </div>
            </div>
          </div><!--/span-->

        </div><!--/row-->


        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= label_tag "Username", "Username <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :username, class: "form-control", required: "required", placeholder: "Username" %>
              </div>
            </div>
          </div><!--/span-->

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= label_tag "Email", "Email <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
          </div><!--/span-->

        </div><!--/row-->

        <%#- if coa.new_record? -%>
         <!--  <div class="row-fluid">

            <div class="span6 bgcolor">
              <div class="control-group"> -->
                <%#= label_tag "Password", "Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                <!-- <div class="controls"> -->
                  <%#= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
                <!-- </div>
              </div>
            </div></span-->

            <!-- <div class="span6 bgcolor">
              <div class="control-group"> -->
                <%#= label_tag "Password Confirmation", "Confirm Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                <!-- <div class="controls"> -->
                  <%#= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
                <!-- </div> -->
              <!-- </div> -->
            <!--/div></span-->

          <!--/div></row-->
        <%#- end -%>


        <div class="row-fluid">

          <div class="span6 bgcolor">
            <div class="control-group">
              <%= f.label :profile_id, class: "control-label" %>
              <div class="controls">
                <%- if coa.new_record? -%>
                  <%= select_tag 'cao[fk_profile_id]', options_from_collection_for_select(@profile_list, "id", "profile_name"), { class: "form-control" } %>
                <%- else -%>
                  <%= select_tag 'cao[fk_profile_id]', options_from_collection_for_select(@profile_list, "id", "profile_name", coa.profile.id), { class: "form-control" } %>
                <%- end -%>
              </div>
            </div>
          </div><!--/span-->

          <!--div class="span6 bgcolor">
          <div class="control-group">
            <%= f.label :role_id, class: "control-label" %>
            <div class="controls">
              <%#= select_tag 'cao[fk_role_id]', options_from_collection_for_select(@role_list, "id", "name"), { class: "form-control" } %>

              <%#= hidden_field :fk_role_id, value:  %>
            </div>
          </div>
        </div></span-->

      </div><!--/row-->

      <div class="row-fluid">
          <div class="span6 bgcolor">
            <div class="control-group">
              <%= label_tag "Security Question", "Security Question <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= select_tag 'cao[security_question]', options_for_select(SECURITY_QUESTIONS, f.object.security_question), { prompt: "Select Security Question", required: true } %>            
              </div>
            </div>
          </div><!--/span-->
          <div class="span6 bgcolor">
            <div class="control-group">
              <%= label_tag "Security Answer", "Security Answer <span class='red'>*</span>".html_safe, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :security_answer, required: true, class: "form-control", placeholder: "Security Answer" %>
              </div>
            </div>
          </div><!--/span-->
      </div><!--/row-->

      <div class="row-fluid">

        <div class="form-group" style="text-align: right;margin-right:10px">
          <div class="col-sm-10">
            <%= f.submit @cao.new_record? ? 'Create' : 'Update', :class => "btn btn-primary" %>
            <%= link_to 'Back', admin_organization_caos_path(@organization.id), class: "btn btn-primary" %>
          </div>
        </div>
      </div><!--/row-->
    </div><!--/span-->
    <div class="span4">
    </div><!--/span-->
  </div><!--/row-->
<%- end -%>
</div>
