<%= form_for([:admin, @organization, @cao]) do |f| %>
  <div>
    <%= label_tag "First Name *" %>
    <%= f.text_field :first_name, autofocus: true, required: true %>
  </div>
  <div>
    <%= label_tag "Last Name *" %>
    <%= f.text_field :last_name, required: true %>
  </div>
  <div>
    <%= label_tag "Username *" %>
    <%= f.text_field :username, required: true %>
  </div>
  <div>
    <%= label_tag "Email *" %>
    <%= f.email_field :email, required: true %>
  </div>
  <div>
    <%= label_tag "Password *" %>
    <%= f.password_field :password, required: true %>
  </div>
  <div>
    <%= f.label :profile_id %>
    <%= select_tag 'cao[fk_profile_id]', options_from_collection_for_select(@profile_list, "id", "profile_name") %>
  </div>
  <div>
    <%= f.label :role_id %>
    <%= select_tag 'cao[fk_role_id]', options_from_collection_for_select(@role_list, "id", "name") %>
  </div><br/>
  <div>
    <%= f.submit @cao.new_record? ? 'Create' : 'Update', :class => "btn btn-primary" %>
  </div>
<% end %>
