<style>

</style>
<div class="monitor-container">
	<div class="header">
		<h3>OneStop Monitoring Page</h3>
	</div>
	<div class="monitor-application">
		<h5><%= SERVER_CONFIGURATION["onestop_service_name"] %></h5>
		<p>Application Version Message: <%= display_server_status(@connectivity[:provisioning], @connectivity[:provisioning][:version_message]) %></p>
		<p>Application Version: <%= display_server_status(@connectivity[:provisioning], @connectivity[:provisioning][:api_version]) %></p>
		<p>Instance Name: <%= display_server_status(@connectivity[:provisioning], @connectivity[:provisioning][:server_instance_name]) %></p>
		<!--p>Database Server: <%= display_server_status(@connectivity[:provisioning], @connectivity[:provisioning][:result]) %></p-->
		<p>Application Status: <%= display_server_status(@connectivity[:provisioning], @connectivity[:provisioning][:status]) %></p>
	</div>

	<div class="monitor-application">
		<h5><%= SERVER_CONFIGURATION["epcs_service_name"] %></h5>
		<p>Application Version Message: <%= display_server_status(@connectivity[:epcs], @connectivity[:epcs]['version_message']) %></p>
		<p>Application Version: <%= display_server_status(@connectivity[:epcs], @connectivity[:epcs]['api_version']) %></p>
		<p>Instance Name: <%= display_server_status(@connectivity[:epcs], @connectivity[:epcs]['server_instance_name']) %></p>
		<!--p>Database Server: <%= display_server_status(@connectivity[:epcs], @connectivity[:epcs]['result']) %></p-->
		<p>Application Status: <%= display_server_status(@connectivity[:epcs], @connectivity[:epcs]['status']) %></p>
	</div>

	<div class="monitor-application">
		<h5><%= SERVER_CONFIGURATION["supernpi_service_name"] %></h5>
		<p>Application Version Message: <%= display_server_status(@connectivity[:super_npi], @connectivity[:super_npi]['version_message']) %></p>
		<p>Application Version: <%= display_server_status(@connectivity[:super_npi], @connectivity[:super_npi]['api_version']) %></p>
		<p>Instance Name: <%= display_server_status(@connectivity[:super_npi], @connectivity[:super_npi]['server_instance_name']) %></p>
		<!--p>Database Server: <%= display_server_status(@connectivity[:super_npi], @connectivity[:super_npi]['result']) %></p-->
		<p>Application Status: <%= display_server_status(@connectivity[:super_npi], @connectivity[:super_npi]['status']) %></p>
	</div>

	<div class="monitor-application">
		<h5><%= SERVER_CONFIGURATION["router_service_name"] %></h5>
		<p>Application Version Message: <%= display_server_status(@connectivity[:router], @connectivity[:router]['version_message']) %></p>
		<p>Application Version: <%= display_server_status(@connectivity[:router], @connectivity[:router]['api_version']) %></p>
		<p>Instance Name: <%= display_server_status(@connectivity[:router], @connectivity[:router]['server_instance_name']) %></p>
		<!--p>Database Server: <%= display_server_status(@connectivity[:router], @connectivity[:router]['result']) %></p-->
		<p>Application Status: <%= display_server_status(@connectivity[:router], @connectivity[:router]['status']) %></p>
	</div>

</div>