<%- if @cao.old_passwords.count == 0 -%>
  <div class="modal fade" id="update-password-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
          <p>
            <div class="container-fluid">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "form-horizontal", id: "edit-change-password", method: :put }) do |f| %>
                <%= hidden_field_tag :redirect_from, "popup" %>          
                <div class="row-fluid change-password-form" style="padding:20px 0px 0px 0px;">
                  <div class="span9">
                    <%- if flash[:notice] -%>
                      <div class="row-fluid">
                        <div class="span12 bgcolor">
                          <div class="alert alert-error" id="devise-error-message-pwd", style="width: 440px;">
                            <%= flash[:notice] %>
                          </div>
                        </div>
                      </div>
                    <%- end -%>
                    <div class="row-fluid">
                      <div class="span6 bgcolor">
                        <div class="control-group">
                          <%= f.label :current_password, "Current Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                          <div class="controls">
                            <%= f.password_field :current_password, required: 'required', class: "form-control" %>
                            <!--span style="padding-left:200px"><i>(we need your current password to confirm your changes)</i></span-->
                          </div>
                        </div>
                      </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                      <div class="span6 bgcolor">
                        <div class="control-group">
                          <%= f.label :password, "New Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                          <div class="controls">
                            <%= f.password_field :password, required: 'required', class: "form-control" %>
                          </div>
                        </div>
                      </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                      <div class="span6 bgcolor">
                        <div class="control-group">
                          <%= f.label :password_confirmation, "Confirm New Password <span class='red'>*</span>".html_safe, class: "control-label" %>
                          <div class="controls">
                            <%= f.password_field :password_confirmation, required: 'required', class: "form-control" %>
                          </div>
                        </div>
                      </div><!--/span-->
                    </div><!--/row--> 
                  </div>
                  <div class="span4">
                  </div><!--/span-->
                </div>            
            </div>
          </p>
        </div>
        <div class="modal-footer">
          <div class="row-fluid">
            <div class="form-group" style="text-align: right;margin-right:10px">
              <div class="col-sm-10">
                <%= f.submit "Update", :class=>'btn btn-primary' %>
              </div>
            </div>
          </div><!--/row-->
        <%- end -%>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<%- end -%>

<div class='container'>
  <fieldset class="fieldset">
    <legend class="scheduler-border">Upload CSV Data File</legend>
    <div id="download_sample_data">
      <% if @registered_applications.present? %>
        <%-link_id =  @registered_applications.first.id -%>
        <%= link_to "Download Sample Data File", admin_download_path(format: "csv", id: link_id.to_s) %>
      <% end %>
    </div>
    <%= form_tag upload_admin_providers_path, id: "upload_csv_file", multipart: true do%>
      <p>
        <div style='display:inline;'>
          <%= link_to 'Choose file', 'javascript:void(0)', class: 'fake-uploader btn'%>
          <%= file_field_tag :upload, class: 'actual-uploader', style: 'display: none; margin-left: 5px;' %>
          <span id ='selected-filename' style='margin-left: 5px;'></span>
        </div>
        <%= submit_tag "Upload", class: "btn btn-primary" %>
      <p/>
      <p>
        <div>
          <%= select_tag 'provider[registered_app_id]', options_from_collection_for_select(@registered_applications, "id", "display_name"), "data-href" => application_admin_providers_path, prompt: "Select Application" %>
        </div>
       </p>
      <% end %>
    </fieldset>
  </div><br />
  <div class='container'>
    <fieldset class="fieldset" id="audit_data_table">
      <legend class="scheduler-border">Previously Uploaded Data File</legend>
      <div id="audit_data">
        <%= render "admin/providers/audit_trail_list", audit_trails: @audit_trails %>
      </div>
      <br />
    </fieldset>
  </div>

  <div id="dialog" title="Message">
    <div class="error_message_content"></div>
  </div>

  <div class="application_waiting_image" style="display:none;">
    <%= image_tag("loading.gif") %>
  </div>