<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= content_for?(:title) ? yield(:title) : "OneStop" %></title>
    <%= csrf_meta_tags %>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.core.min.js"></script> -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
<%#= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
<%#= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
<%#= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
<%#= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
<%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <!-- <div class="navbar navbar-fixed-top"> -->
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%#= link_to "OneStop", "", :class=> "brand" %>
          <!-- <p class="brand" style="background-image: url(<#%= asset_path 'OneStopLogo.png' %>);">OneStop</p> -->
          <%= image_tag "OneStopLogo-white.png", alt: "OneStop", class: "brand" %>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <% unless cao_signed_in? %>
                <li>
                  <%#= link_to "Login", new_cao_session_path  %>
                </li>
              <% else %>
                <%= drop_down "Setting" do %>
                  <%= menu_item "Edit Account", edit_cao_registration_path %>
                  <%#= menu_item "Logout",  destroy_cao_session_path, :method => :delete %>
                <% end %>
                <%= drop_down "#{current_cao.username.to_s.capitalize}" do %>
                  <%= menu_item "Logout",  destroy_cao_session_path, :method => :delete %>
                <% end %>
                <li class="brand" style="font-size: 14px; margin-left: -10px;">
                  <%#= link_to "Welcome: "+ current_cao.username.to_s.capitalize + " | Organization: " + current_cao.organization.name , "" rescue nil %>
                    <%= "Organization : " + current_cao.organization.name rescue nil %>                 
                </li>
              </ul>
              <ul class="nav">
                  <% if current_cao.is_admin? %>
                    <li>
                      <%= link_to "Organizations",  admin_organizations_path %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "Applications", application_admin_providers_path %>
                    </li>
                  <% end %>
              <% end %>
              </ul>
              <ul class="nav">
                <li>
                  <%#= link_to 'About', static_page_path(id: 'about') %>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div class="container"><br />
        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->
      </div> <!-- /container -->
      <div style="padding-top:50px;"></div>
      <!-- footer part-->
      <!--footer class="footer">
        <div class="container">
          <p>&copy; 2013 Company, Inc.</p>
        </div>
      </footer-->
      <!-- Javascripts
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%= javascript_include_tag "application" %>
      <%= yield :javascript %>
      <script>
      //  window.onload = function () {
       //   hisPush = history.pushState;
        //  console.log(typeof history.pushstate)
         //   if (typeof history.pushstate === "function") {
          //    history.pushState(document.URL, null, null);
           //   console.log(window.onpopstate)
            //  window.onpopstate = function (val) {
                //var currentUser = "<%= current_cao %>";
                //if(currentUser != "") {
                 // if(confirm("By clicking on back button, your session will expire. Do you want to continue?")) {
            //        location.href = "/back_button_destroy"
                  //}
                //}
              //};
           // }

          //}
        </script>

    </body>
  </html>
