<br/>
<%= link_to 'Create Organization', new_admin_organization_path, :class=>"btn btn-primary" %><br/><br/>

<h4>Listing Organizations</h4>

<table class="table table-striped table-bordered table-condensed" id="cao_table">
  <thead>
    <tr>
        <th>Organization Name</th>
        <th> Number of COAs </th>
        <th> Status </th>
        <th> Action </th>
        <th> COA Account</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
        <tr>
          <td ><%= link_to organization.name, show_uploaded_file_admin_organization_path(organization.id)%> </td>
          <td><%= organization.caos.count %></td>
          <% status = organization.is_active? %>
          <td>
            <% if status %>
              Active
            <% else %>
              Inactive
            <% end %>
          </td>
          <td>
            <% if status %>
              <%= link_to 'Show',admin_organization_path(organization.id) %> |
              <%= link_to 'Edit',edit_admin_organization_path(organization.id) %> |
                <a data-toggle="modal" href="#deactivate-<%= organization.id %>" type="button">Deactivate</a>
                <%= render 'deactivate_organization', :organization => organization %>
              <% else %>
                <a data-toggle="modal" href="#activate-<%= organization.id %>" type="button">Activate</a>
                <%= render 'activate', :organization => organization %>
            <% end %>
            </td>
          </td>
          <td>
            <% if status %>
              <%= link_to 'Manage',admin_organization_caos_path(organization.id)%>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
